				!!! Welcome to {{ inventory_hostname }}.{{ domain }} !!!
		If you are ot associated with {{ domain }} and not authorized please disconnect immediately.

		Everything is being logged, and sent to central system.


